- if form_based_providers.any?
  - if crowd_enabled?
    .login-box.tab-pane.active{ id: "crowd", role: 'tabpanel' }
      .login-body
        = render 'devise/sessions/new_crowd'

  - if kerberos_enabled?
    .login-box.tab-pane{ id: "kerberos", role: 'tabpanel', class: (:active unless crowd_enabled? || ldap_enabled?) }
      .login-body
        = render 'devise/sessions/new_kerberos'

  - @ldap_servers.each_with_index do |server, i|
    .login-box.tab-pane{ id: "#{server['provider_name']}", role: 'tabpanel', class: (:active if i.zero? && !crowd_enabled?) }
      .login-body
        = render 'devise/sessions/new_ldap', server: server
  - if signin_enabled?
    .login-box.tab-pane{ id: 'ldap-standard', role: 'tabpanel' }
      .login-body
        = render 'devise/sessions/new_base'

- elsif signin_enabled?
  .login-box.tab-pane.active{ id: 'login-pane', role: 'tabpanel' }
    .login-body
      = render 'devise/sessions/new_base'
