- if project_nav_tab? :team
  = nav_link(controller: [:members, :teams]) do
    = link_to namespace_project_settings_members_path(@project.namespace, @project), title: 'Members', class: 'team-tab tab' do
      %span
        Members
- if can_edit
  = nav_link(controller: :deploy_keys) do
    = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Deploy Keys' do
      %span
        Deploy Keys
  = nav_link(controller: :hooks) do
    = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Webhooks' do
      %span
        Webhooks
  = nav_link(controller: :services) do
    = link_to namespace_project_services_path(@project.namespace, @project), title: 'Services' do
      %span
        Services
  = nav_link(controller: :protected_branches) do
    = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: 'Protected Branches' do
      %span
        Protected Branches

  - if @project.feature_available?(:builds, current_user)
    = nav_link(controller: :runners) do
      = link_to namespace_project_runners_path(@project.namespace, @project), title: 'Runners' do
        %span
          Runners
    = nav_link(controller: :variables) do
      = link_to namespace_project_variables_path(@project.namespace, @project), title: 'Variables' do
        %span
          Variables
    = nav_link(controller: :triggers) do
      = link_to namespace_project_triggers_path(@project.namespace, @project), title: 'Triggers' do
        %span
          Triggers
    = nav_link(controller: :pipelines_settings) do
      = link_to namespace_project_pipelines_settings_path(@project.namespace, @project), title: 'CI/CD Pipelines' do
        %span
          CI/CD Pipelines
  = nav_link(controller: :push_rules) do
    = link_to namespace_project_push_rules_path(@project.namespace, @project), title: "Push Rules" do
      %span
        Push Rules
  = nav_link(controller: :mirrors) do
    = link_to namespace_project_mirror_path(@project.namespace, @project), title: 'Mirror Repository', data: {placement: 'right'} do
      %span
        Mirror Repository
  = nav_link(controller: :pages) do
    = link_to namespace_project_pages_path(@project.namespace, @project), title: 'Pages', data: {placement: 'right'} do
      %span
        Pages
  = nav_link(controller: :audit_events) do
    = link_to namespace_project_audit_events_path(@project.namespace, @project), title: "Audit Events" do
      %span
        Audit Events
